@page
@model SportUI.Pages.Clubs.IndexModel
@{
    ViewData["Title"] = "Clubs";
}

<h1 class="text-center text-info">Clubs</h1>
<div class="d-flex justify-content-end">
    <a href="#" class="btn btn-primary m-1">Add Club</a>
</div>
<div class="card-deck">
    @foreach (var item in Model.Clubs)
    {
        var imgPath = $"~/images/{(string.IsNullOrEmpty(item.LogoPicture) ? "noimage.jpg" : item.LogoPicture)}";
        <div class="card bg-light m-3" style="min-width:18rem; max-width:30.5%">
            <div class="card-header">
                <h4>@item.Name</h4>
            </div>
            <img class="card-img-top img-thumbnail imgThumbnail" src="@imgPath"
                 alt="@item.ClubID" asp-append-version="true">
            <div class="card-body">
                <p class="card-text">
                    <ul>
                        <li>City: @item.City</li>
                        <li>Country: @item.Country</li>
                    </ul>
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-page="/Clubs/Details" asp-route-Id="@item.ClubID" class="btn btn-info m-1">View</a>
                <a class="btn btn-info m-1">Prueba</a>
            </div>
        </div>
    }
</div>
